<configuration>

  <appender name="application" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">        
        <fileNamePattern>application.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="scheduler" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>scheduler.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">        
        <fileNamePattern>scheduler.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
        <maxHistory>5</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
    
  </appender>
    
  

  <logger name="com.demo" level="DEBUG">
    <appender-ref ref="application" />
  </logger>

  <logger name="com.demo.scheduler" level="DEBUG">
    <appender-ref ref="scheduler" />
  </logger>

 
</configuration>
